<div class="main-content">
  <div class="content-box">
    <div class="text-center">
      <h4 class="title-verify">Verify you</h4>
    </div>
    <div class="text-left">
      <p>
        For all new registrations we must verify your email address.
      </p>
    </div>
    <div class="text-center" style="background-color: #2e67d9">
      <img class="email-verify-img" src="assets/images/logonew.png" alt="abc">
    </div>
    <br>
    <div class="text-center m-b-30 m-t-30">
      <p>Just to make sure it's really you, we've sent you an email with a secure link to click !
      </p>
    </div>
    <!--<div class="text-center m-t-30 m-b-30">
      <p class="bottam-text">Dont worry, if s super easy, then ...!</p>
    </div>
    <div class="m-b-30 text-center">
      <button class="btn-primary btn-blue custom-btn" (click)="auth.logout()">Login !</button>
    </div>-->
    <div class="m-b-30 text-center">
      <p class="bottam-text">Thanks for helping us keep secure!</p>
    </div>
  </div>
